.peoplessearch {
  width: 410px;
  position: relative
}

.offsetter {
  margin-top: 50px !important;
}

.centerer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texterror {
  h4 {
    font-size: 18px !important;
  }
}